{{!--
    Membership call-to-action
    Shows signup prompt for non-members
--}}

<div class="membership-cta">
    <h3>Continue Reading</h3>
    <p>Subscribe to access all chapters of {{@custom.book_title}} and get new essays delivered to your inbox.</p>
    <div class="membership-cta-buttons">
        <a href="#/portal/signup" class="btn btn-primary">Subscribe</a>
        <a href="#/portal/signin" class="btn btn-secondary">Sign in</a>
    </div>
</div>
