{{!--
    Custom template for the Contact page
    Uses: custom-contact.hbs (select "contact" template in Ghost page settings)
--}}

{{!< default}}

<div class="contact-page">
    {{> "contact-form"}}
</div>
